header {
  background-image: url(/img/pattern.png);
  background-color: #4EA1FF;
  padding: 0.5%;
}

#logo {
  width: 200px;
  height: 200px;
  position: bottom;
}

#title {
  font-size: 40px;
}

#subtitle strong {
  color: #4EA1FF;
}

#subtitle {
  margin-top: 0%;
}
